mat-toolbar {
  background-color: inherit !important;
}
.spacer {
  flex: 1 1 auto;
}

.logout-button {
  background-color: #f44336; /* Cor de fundo vermelha */
  color: white; /* Cor do texto branca */
  border-radius: 4px;
  padding: 8px 16px;
  margin-left: 16px;
  font-weight: bold;
}

.logout-button:hover {
  background-color: #d32f2f; /* Cor de fundo ao passar o mouse */
}
