<app-message #message></app-message>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <label for="email">E-mail do Colaborador:</label>
  <input type="email" id="email" formControlName="email">
  <div *ngIf="form.get('email')?.invalid && (form.get('email')?.dirty || form.get('email')?.touched)">
    <div *ngIf="form.get('email')?.errors?.['required']">E-mail é obrigatório.</div>
    <div *ngIf="form.get('email')?.errors?.['email']">E-mail inválido.</div>
  </div>
  <button type="submit" [disabled]="form.invalid">Confirmar</button>
</form>
